<td>
  <%= user.last_name + ", " + user.first_name %>
</td>
<td>
  <%= user.email %>
</td>
<% if current_user.admin? %>
  <td>
    <%= link_to "Show", user %>
  </td>
  <td>
    <%= link_to "Edit", edit_user_path(user) %>
  </td>
<% end %>
